<mat-card class="mat-elevation-z2 card-margin">
  <mat-card-header>
    <img mat-card-avatar src="{{avatar_img}}" alt="{{avatar_alt}}">
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{type}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{box_img}}" alt="{{box_alt}}">
  <mat-card-content>
    <p>
      {{description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>More Info</button>
    <button mat-button>Request Key</button>
  </mat-card-actions>
</mat-card>
