distro: trusty 

language: python

python: "3.6"

before_install: cd backend 

install: pip install -r requirements.txt

script: 
  - pytest
  - sonar-scanner

addons: 
  sonarcloud:
    organization: "three-rocketeers"
